* {
    padding: 0;
    margin: 0;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    // overflow: hidden;
  }
  
h1{
  text-align: center;
}

header{
  height: 155px;
  text-align: center;
  .logo{
    height: 150px;

  }
}

.greet {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#greeting {
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#logout-button {
  display: block;
  margin: 20px auto 0;
}



  nav{
    width: 100%;
    background-color:#126deda2;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    h2{
      text-align: center;
      width: 45%;
    }
  }

 nav h2:hover{
    cursor: pointer;
    border-radius: 10px;
    background-color:#126EED;
  }

  .packdCardContainer{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   position: relative; 
   top: 200px;
   gap: 10px;
   
  }

  .card {
    position: relative;
    width: 193px;
    height: 270px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
  }

  .card:hover{
    height: 300px;
    width: 230px;
    transition: 450ms;
  }
  
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.4);
    border-radius: 10px;
  }
  
  .back {
    transform: rotateY(0deg);
  }
  
  .front {
    transform: rotateY(180deg);
  }
  
  .flipped {
    transform: rotateY(180deg);
  }
  

  .hide{
    display: none;
  }
  #sendBtn{
    
   position: absolute;
   bottom: -50px;
  }