@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
:root {
  --container: 120rem;
  --primary: #5e7effa6;
  --white: #e9eaec27;
  --white-light: #e9eaec00;
  --box-shadow: hsl(220, 7.32%, 91.96%);
}
html {
  min-height:100vh ;
  min-width: 100vw;
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  min-height:100vh ;
  min-width: 100vw;
  font-size: 1.6rem;
  font-family: 'Rubik', sans-serif;
  background-image: url("/Login&Register/images/loginPageBackground2.PNG");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

#particles-js{
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.site-content {
  display: flex;
  flex-direction: column;
}


.swtch-tabs {
  max-width: var(--container);
  padding: 0 1rem;
  margin: 0 auto;
}


header {
  text-align: center;
}
.section-heading {
  margin: 3rem 0;
  color: white;
  font-size: 4rem;
  padding-bottom: 0.7rem;
  position: relative;
}


.login-form{
  margin-top: -18rem;
}

.tab-info {
  width: 70%;
  margin: 0 auto 3rem auto;
}
@media (max-width: 767px) {
  .tab-info {
    width: 90%;
  }
}


.h2spe{
  color: white;
}


.tab-filter-info {
  padding: 2rem;
  text-align: center;
  background: #e9eaec00;
}
.filter-btn {
  display: inline-flex;
  padding: 0.8rem 2.5rem;
  cursor: pointer;
  border-radius: 2rem;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  color: white;
}
.filter-btn.active {
  background: var(--primary);
  color: white;
}
.tab-filter-item-box {
  background: #e9eaec00;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.tab-item {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0rem 3rem;
  transform: translateY(100%);
  background: #e9eaec00;
  transition: transform 0.5s ease-in-out;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  place-items: center start;
}
.tab-img {
  width: 30rem;
}
.intro-heading {
  color: white;
  padding: 2rem 0;
  font-size: 3rem;
}

.intro-p{

  color: white;

}


.tab-item.select_tab {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
  background: var(--white-light);
  animation: feadIn 0.6s ease-in-out;
}

.usrname-input{
  padding: 8px;
  background: #e9eaec27 ;
  border: 2px solid #7e7e7e41;
  border-radius: 10px;
  outline: none;
  transition: all 0.2s;
  color: rgb(255, 255, 255);
}

.usrname-input:focus{
  border: 2px solid #5e7effa6;
}

.pswrd-input:focus{
  border: 2px solid #5e7effa6;
}

.pswrd-input{
  padding: 8px;
  background: #e9eaec27 ;
  border: 2px solid #7e7e7e41;
  border-radius: 10px;
  outline: none;
  transition: all 0.2s;
  color: rgb(255, 255, 255);
}


.usrname-input::placeholder{
  opacity: 1;
  color: rgba(255, 255, 255, 0.452);
  transition: all 0.2s;
}

.usrname-input:focus::placeholder{
  opacity: 0;
  animation-delay: 0.2s;
}


.pswrd-input::placeholder{
  opacity: 1;
  color: rgba(255, 255, 255, 0.452);
  transition: all 0.2s;
}

.pswrd-input:focus::placeholder{
  opacity: 0;
  animation-delay: 0.2s;
}

.usrname-label{
  position: absolute;
  padding: 8px;
  pointer-events: none;
  color: #00000062;
  transition: all 0.2s;
}


.pswrd-label{
  position: absolute;
  padding: 8px;
  pointer-events: none;
  color: #00000062;
  transition: all 0.2s;
}



.btn-primary {
  margin-top: 1.5rem;
  display: inline-block;
  background: var(--primary);
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  color: white;
}


.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}



@keyframes feadIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



footer{
    flex-shrink: 0;
}

footer {
  font-family: 'Montserrat', sans-serif;
  background: rgb(36,0,0);
  background: #5e7effa6;
  border-top: 1px solid #5E7EFF;
  font-size: 17px;
  padding: 15px 5px;
  color: #ffffff;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #ffffff;

}
